.follow-button {
    background-color: #bf40bf !important;
    color: #fff !important;
}

.video-section .card:hover {
    transform: translateY(0%);
}

time {
    font-size: 13px;
}

.card .channel-img {
    padding: 2px 10px;
}

.channel-page .social-media {
    left: 20px;
    bottom: 18px;
}

.channel-page .follow {
    right: 20px;
    bottom: 18px;
}

@media(max-width:575px) {
    .navbar .nav-link {
        font-size: 13px;
        padding-left: 4px;
        padding-right: 4px;
    }
}